/*CABEÇALHO*/

:root{
    --preto: #000000;
    --branco: #ffffff;
    --cinza: #f1f1f1;
    --verde__escuro: #005954;
    --verde__medio: #338b85;
    --verde__claro: #5dc1b9;
    --fonte: 'Dancing Spirit';
}

body{
    background: url(background.png) var(--verde__escuro);
    width: 100%;
    height: 100%;
}

.header{
    text-align: center;
    padding: 2em 0;
    font-family: var(--fonte);
    color: var(--branco);
    text-shadow: 1px 1px var(--preto);
}

.header__title{
    font-size: 40px;
    font-weight: 700;
    padding-bottom: .3em;
}

.header__text{
    font-size: 33px;
    font-weight: 400;
}

hr{
    margin: 0 5%;
    height: 2px;
    border: none;
    color: var(--preto);
    background-color: var(--preto);
}

/*CORPO*/

.bloco__notas{
    background-color: var(--verde__claro);
    width: 80%;
    height: 500px;
    border: 2px solid var(--preto);
    border-radius: 10px;
    margin: 3em auto;
}

.adicionar__tarefa{
    background-color: var(--branco);
    display: block;
    width: 80%;
    text-align: center;
    padding: 10px 0;
    margin: 1em auto;
    border: 1px solid var(--verde__medio);
    border-radius: 20px;
    font-size: 18px;
}